<mat-table  [dataSource]="main">
  <!-- Name Column -->
  <ng-container matColumnDef="name">
    <mat-header-cell  *matHeaderCellDef>Curso</mat-header-cell>
    <mat-cell  *matCellDef="let interpolacao">
      {{ interpolacao.name }}
    </mat-cell>
  </ng-container>

  <!-- Categoria Column -->
  <ng-container matColumnDef="categoria">
    <mat-header-cell  *matHeaderCellDef>Categoria</mat-header-cell>
    <mat-cell mat-cell *matCellDef="let interpolacao">
      {{ interpolacao.categoria }}
      <mat-icon aria-hidden="false" aria-label="Categoria do Curso">{{
        interpolacao.categoria | categoria
      }}</mat-icon>
    </mat-cell>
  </ng-container>

  <!-- Actions Column -->
  <ng-container matColumnDef="actions" >
    <mat-header-cell *matHeaderCellDef class="action-colum-header">
      <button mat-icon-button color="accent" aria-label="Adicionar um curso" (click)="onAdd()">
        <mat-icon>add</mat-icon>
      </button>
    </mat-header-cell>

    <mat-cell *matCellDef="let interpolacao" class="action-colum">
      <button mat-icon-button color="primary" aria-label="Editar Curso" (click)="onEdit(interpolacao)">
        <mat-icon>edit</mat-icon>
      </button>

      <button mat-icon-button color="warn" aria-label="Remover Curso" (click)="onDelete(interpolacao)">
        <mat-icon>delete</mat-icon>
      </button>
    </mat-cell>

  </ng-container>

  <mat-header-row  *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row  *matRowDef="let row; columns: displayedColumns"></mat-row>
</mat-table>
